main { width: 900px; height: 240px; display: flex;}

img { border-right: 1px solid #d1d1d1;
    padding-right: 19px;
    margin-right: 19px; }

p { text-align: justify;
    font-size: 20px;
    color: #2e2e2e;}