@media (max-width: 600px){
    /* Navbar */
    .home-navbar1{ display: none;}

    /* Section-container */
    .category-card-image {width: 250px; height: 250px;}

    /* Home-full-width-banner */
    .section-container{flex-direction: column;}
    .home-left4 {padding: 30px 10px;}
    .home-text30 {width: 100%;}
    .home-content{margin-bottom: 20px;}
    .home-image6{width: 100%;}

    /* Section-container */
    .blog-post-card-blog-post-card{max-width: 100%;}

    /* Footer */
    .home-footer1 {flex-wrap: wrap; padding: 48px 0;}
    .home-links-container {flex-wrap: wrap;}
    .home-container10{ width: 100%;}
    .home-container12{ width: 100%;}
    .home-container09 {order: 2; padding-top: 40px;}
}